project:
  type: website
  output-dir: ../docs

website:
  title: "teo-evawg-dashboard"
  navbar:
    left:
      - href: index.qmd
        text: Gender-Based Violence - Adults
      - href: YLT.qmd
        text: Gender-Based Violence - Age 16
      - href: recorded-crime.qmd
        text: Recorded Crime
      - href: domestic-abuse.qmd
        text: Domestic Abuse
      - href: public-prosecution.qmd
        text: Public Prosecution Service
format:
  dashboard:
    css: style.css
    fig-responsive: true
    include-in-header: 
      text: |
        <script src = "dashboard.js"></script>
    include-before-body:
      text: |
        <div id = "cookie-banner"></div>
        <script src = "cookies_script.js"></script>

