project:
  type: website
  output-dir: ../docs


website:
  title: "Gender-based Violence - Prevalence"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: page_1.qmd
        text: Page 1

format:
  dashboard:
    css: style.css
    fig-responsive: true
    include-in-header: 
      text: |
        <script src = "dashboard.js"></script>
    include-before-body:
      text: |
        <div id = "cookie-banner"></div>
        <script src = "cookies_script.js"></script>

