project:
  type: website
  output-dir: ../docs

website:
  title: "teo-evawg-dashboard"
  navbar:
    left:
      - href: home.qmd
        text: Home
      - href: index.qmd
        text: Gender-Based Violence - Adults
      - href: YLT.qmd
        text: Gender-Based Violence - Age 16
      - text: Recorded Crime
        menu: 
          - text: Police recorded crime
            href: recorded-crime-police.qmd
          - text: Homicide
            href: recorded-crime-homicide.qmd
          - text: Victims
            href: recorded-crime-victims.qmd
          - text: Policing district
            href: recorded-crime-policing-district.qmd
      - href: domestic-abuse.qmd
        text: Domestic Abuse
      - href: public-prosecution.qmd
        text: Public Prosecution Service
      - href: user-notes.qmd
        text: User notes
format:
  dashboard:
    css: style.css
    fig-responsive: true
    include-in-header: 
      text: |
        <script src = "dashboard.js"></script>
    include-before-body:
      text: |
        <div id = "cookie-banner"></div>
        <script src = "cookies_script.js"></script>

