project:
  type: website
  output-dir: ../docs

website:
  title: "teo-evawg-dashboard"
  navbar:
    left:
      - href: index.qmd
        text: NILT
      - href: YLT.qmd
        text: YLT
      - href: recorded-crime.qmd
        text: RECORDED CRIME
      - text: DOMESTIC ABUSE
        menu: 
          - text: Domestic Abuse Reported Crimes
            href: domestic-abuse-1.qmd
          - text: Domestic Abuse Experience Total
            href: domestic-abuse-2.qmd
      - href: criminal-justice.qmd
        text: CRIMINAL JUSTICE
      - href: public-prosecution.qmd
        text: PUBLIC PROSECUTION SERVICE
format:
  dashboard:
    css: style.css
    fig-responsive: true
    include-before-body:
      text: |
        <div id = "cookie-banner"></div>
        <script src = "cookies_script.js"></script>

