/* CSS Stylesheet*/

div.chart-title {
  font-size: 17px;
  background-color: #1a6ecc; 
  color: white;              
  padding: 5px 10px;         
  border-radius: 4px;        
}

.card-header, .chart-title-container {
  background-color: #1a6ecc;
  color: white; 
}

div.navbar-inverse.navbar-fixed-top {
font-size: 17px;
}

div.chart-shim.bootstrap-table.flowing-content-shim {
font-size: 16px;
}

div.chart-stage.chartstage-flex {
font-size: 16px;
}

.navbar-logo img {
    position: absolute;
    right: 0px;
}

.nav-tabs-custom .nav-tabs li.active a {
color: green;
font-size: 17px
}


.nav-tabs-custom .nav-tabs li:not(.active) a {
color: black;
font-size: 17px
}

#quarto-dashboard-header {
    display: none !important;
}

.navbar-logo {
  min-height: 48px;
  min-width: 192px;
}

.navbar {
  background-color: #1a6ecc;
}

#cookie-banner {
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(26,25,68,0.95);
	color:#FFF;
	padding: 10px;
	text-align: left;
	border-bottom: 5px solid #3878c5;
	z-index: 2000;
}

.cookies-infobar {
background-color: rgba(26,25,68,0.95);
color: #fff;
width: 100%;
left: 0;
right: 0;
top: 0;
padding: 10px;
text-align: left;
}

.cookies-infobar.cookies-infobar_accepted {
  display: none;
}

.cookies-infobar_wrapper {
  margin: 10px;
}

.cookies-infobar a {
  color: inherit;
}

.cookies-infobar_btn {
  display: inline-block;
  padding: 5px 10px;
  background: #0f8243;
  text-decoration: none;
  color: #fff;
  text-transform: none;
  font-size: 1.2em;
}

a.cookies-infobar_btn, a.cookies-infobar_btn_reject, a.cookiesbarlink {
	color: #fff !important;
}

.cookies-infobar_btn_reject {
  display: inline-block;
  padding: 5px 10px;
  background: #6d6e72;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  text-transform: none;
  font-size: 1.2em;
}

/* Make the active nav item stand out */
.navbar-nav .nav-link.active {
  background-color: #007acc; /* Highlight color */
  color: white !important;
  font-weight: bold;
  border-radius: 4px;
}

/* Optional: change hover effect for active tab */
.navbar-nav .nav-link.active:hover {
  background-color: #005f99;
}